{% extends "mdpapp/base.html" %}
{% block content %}
    <div class="container">
        <table class="table table-striped table-dark">
            <caption>
                Todas as vendas de Hoje
            </caption>
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Data</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for sale in todaysales %}
                <tr>
                    <td style="vertical-align: middle;">
                        {{ sale.client }}
                    </td>
                    <td style="vertical-align: middle;">
                        {{ sale.sale_date }}
                    </td>
                    <td>
                        <a href="{% url 'sale' sale.id %}">
                            <button type="button" class="btn btn-dark">
                                {{ sale.sale_total }}€
                            </button>
                        </a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">No sales have been submitted yet.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination pagination-lg justify-content-center">
                {% for i in range %}
              <li class="page-item"><a class="page-link" href="{% url 'td_sales' today i %}">{{i}}</a></li>
              {% endfor %}
            </ul>
        </nav>
    </div>
{% endblock content %}

