{% extends "mdpapp/base.html" %}
{% block content %}
    <div>
        Vendas totais
    </div>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Ano
                    </th>
                    <th>
                        Mês
                    </th>
                    <th>
                        Dia
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {{ year_sale_total }}
                    </td>
                    <td>
                        {{ month_sale_total }}
                    </td>
                    <td>
                        {{ day_sale_total }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        Últimas 5 Vendas
    </div>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Data</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for sale in sales %}
                <tr>
                    <td style="vertical-align: middle;">
                        {{ sale.client }}
                    </td>
                    <td style="vertical-align: middle;">
                        {{ sale.sale_date }}
                    </td>
                    <td>
                        <a href="{% url 'sale' sale.id %}">
                            <button type="button" class="btn btn-dark">
                                {{ sale.sale_total }}€
                            </button>
                        </a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td>No clients have been added yet.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}

