{% extends "mdpapp/base.html" %}
{% block content %}
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Qt.</th>
                    <th>Preço/Uni</th>
                </tr>
            </thead>
            <tbody>
                {% for movement in movements %}
                <tr>
                    <td>{{ movement.movement_product }}</td>
                    <td>{{ movement.movement_quantity }}</td>
                    <td>{{ movement.movement_selling_price }}</td>
                    <!--Acho que vou ter de criar um campo no model para o Preço Total para pôr aqui com a view-->
                </tr>
                {% empty %}
                <tr>
                    <td>No clients have been added yet.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="button" class="btn btn-danger btn-sm remove-form-row">                              
            Delete
        </button>
    </div>
{% endblock content %}

