body{
    background-color:rgba(191, 231, 229, 0.747);
}

header{
    background-color: rgba(26, 171, 197, 0.685);
    font-family: fantasy;
}

footer{
    background-color: rgba(26, 171, 197, 0.685);
}