body{
    background-color:#27292c;
}

header{
    background-color: rgba(26, 171, 197, 0.685);
    font-family: fantasy;
}

footer{
    background-color: rgba(26, 171, 197, 0.685);
}

.nounderline {
    text-decoration: none !important
  }